@model Practica01.Models.Estudiante
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Nuevo estudiante</h1>

<div class="color">
    <form asp-controller="Estudiante" asp-action="InsertDB">
        <div class="card">
           <div class="esp">
               <label>Nombres:</label>
                <input type="text" asp-for="Name" placeholder="Apellidos" class="form-control"/>
           </div>
           <div class="esp">
                <label>Apellidos:</label>
                <input type="text" asp-for="LastName" placeholder="Coloca tu segundo número" class="form-control"/>
           </div>
           <div class="esp">
                <button class="btn btn-primary">Ingresar</button>
           </div>
        </div>
        <label></label>
    </form>
</div>
