@model Practica01.Models.Estudiante

@*

*@
@{

}
<form asp-controller="Estudiante" asp-action="actu"> 
    <label>Id</label>
    <input type="text" asp-for="Id">
    <label>Name</label>
    <input type="text" asp-for="Name">
    <label>Last name</label>
    <input type="text" asp-for="LastName">
    <button>Update</button>
</form>